:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 20.5rem;
    min-height: 32.4rem;
    box-shadow: 10px 10px 13px 9px rgba(234, 237, 244, 0.75);
    -webkit-box-shadow: 10px 10px 13px 9px rgba(234, 237, 244, 0.75);
    -moz-box-shadow: 10px 10px 13px 9px rgba(234, 237, 244, 0.75);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
}

header {
    height: 12.5rem;
}

header img {
    height: 100%;
    width:100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

section {
    margin-bottom: 15px;
}

section, footer {
    padding: 0px 32px;
}

section h1 {
    margin-top: 37px;
    font-size: 1rem;
    word-spacing: 1px;
    font-weight: 700;
    color: var(--VeryDarkGrayishBlue);
}

section h2 {
    margin-top: 17px;
    font-size: 0.84rem;
    font-weight: 500;
    line-height: 1.55;
    color: var(--GrayishBlue);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 20px
}

footer img , footer button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0;
}

.author {
    display: flex;
}

.author img {
    margin-right: 18px;
}

.author-text {
    flex-direction: row;
}


footer h1, footer h2 {

    flex-direction: column;
    font-weight: 500;
}

footer h1 {
    font-size: 0.81rem;
    font-weight: 700;
}

footer h2 {
    margin-top: 3px;
    font-size: 0.82rem;
}

footer button {
    z-index: 1;
    background-color: var(--LightGrayishBlue);
    color: var(--DesaturatedDarkBlue);
    cursor: pointer;
}

footer button i {
    font-size:large;
}

.share-links {
    position: absolute;
    display: none;
    align-self: center;
    align-items: center;
    left: 0;
    bottom: 0;
    background: var(--VeryDarkGrayishBlue);
    color: var(--GrayishBlue);
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 0.5rem 0.5rem;
    box-sizing: border-box;
}

.share-links img, .share-links p {
    border-radius: 0;
    margin: 0 10px;
    height: 24px;
}

.share-links img {
    width: 24px;
}

.share-links p {
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media only screen and (min-width: 600px) {
    main {
        min-height: 17.7rem;
        width: 45.7rem;
        flex-direction: row;
    }

    header {
        height: auto;
        width: 41.5%;
    }

    header img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .container {
        width: 65%;
    }

    section, footer {
        padding: 0px 40px;
    }

    
    section h1 {
        font-size: 1.28rem;
        font-weight: 700;
        color: var(--VeryDarkGrayishBlue);
        margin:33px 0 13px 0;
    }
    
    section h2 {
        font-size: 0.83rem;
        margin-top:0;
        font-weight: 500;
        color: var(--GrayishBlue);
    }

    .share-links {
        border-radius: 0.5rem;
        position: absolute;
        background: #47566b;
        height: 50px;
        width: 248px;
        justify-content: center;
        align-items: center;
        left: 58.6%;
        top: -70px;
        display: none;
    }

    .share-links::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -7px;
        transform: translateX(-50%) rotate(45deg);
        width: 15px;
        height: 15px;
        background: #47566b;
    }


    footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.share-link-show {
    display: flex;
}

.share-link-show-btn {
    background-color: var(--GrayishBlue);
    color: white;
}


.attribution {
width: 100%;
text-align: center;
margin-top: 1em;
padding: 1rem 0;
position: absolute;
bottom: 0;
font-size: .8rem;
background: white;
}
